{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Task Manager!</h1>
    <p class="lead">Sign up or log in to manage your tasks using our Kanban board.</p>
    <hr class="my-4">
    <p>Not ready to register? Try our demo account!</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-success btn-lg" href="{{ url_for('demo') }}" role="button">Try Demo</a>
  </div>
{% endblock %}
